*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}

body {
  height: 100vh;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 87vh; */
    background-image: url(background.jpg);
    background-size: cover;
    /* background-position: center; */
}

p{
  font-size: 2rem;
  font-weight: 550;
}

.main-box {
    border: 0.15rem solid rgba(255,255,255,.5);
    backdrop-filter: blur(12px);  /*check this out*/
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    border-radius: 1.2rem;
    position: relative;
    height: 80%; /*38rem*/
    width: 80%;/*44rem*/
    background: transparent;
    margin-top: 5rem;
    display: flex;
    padding-top: 3.125rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: scroll;
}
.main-box::-webkit-scrollbar{
    display: none;
}
.inp{
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding-top: 0.25rem;
    padding-left: 0.625rem;
}


.data::-webkit-input-placeholder {
    font-size: 1.3rem;
    font-weight: 500;
}

.delete{
    width: 3rem;
    height: 2rem;
    margin-left: 8px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.5rem;
}
button:hover{
    background-color: black;
    color: white;
}

i {

    margin-right: 0.7rem;
    font-size: 1.18rem;
}

.common {
    border-bottom: 0.2rem solid black;
}


li {
    list-style-type: none;
    position: relative;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  li:before {
    content: "\25BA \0020";
    font-size: 1.4rem;
    /* position: absolute;
    top: 0.3125rem;
    left: -0.625rem; */
  }